<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>

<h1>TODO APP</h1>


{% if error == 'passwords_dont_match' %}
<p>Sorry, seems like passwords you entered don't match. Try again</p>
{% elif error == 'account_already_exists' %}
<p>Sorry, seems like this account already exists. Try again</p>
{% endif %}


<form method="POST">
    <label>Name</label>
    <input minlength="5" maxlength="20" name="name" placeholder="Name" required>
    <label>Email</label>
    <input type="email" maxlength="30" name="email" placeholder="Email" required>
    <label>Password</label>
    <input type="password" minlength="6" maxlength="20" name="password" placeholder="Password" required>
    <label>Password</label>
    <input type="password" minlength="6" maxlength="20" name="password_check" placeholder="Password check" required>
    <input type="submit" value="Send">
    <p onclick=animation(-0.01)>Already have account</p>
</form>