<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <script src="{{ url_for('static', filename='login.js') }}"></script>
</head>

<h1>TODO APP</h1>


{% if error %}
<p>
    Account doesn't exist. Try again or go to the
    <a href='/'>Sign Up</a> page
</p>
{% endif %}


<form method="POST">
    <label>Email</label>
    <input type="email" maxlength="30" name="email" required>
    <label>Password</label>
    <input type="password" minlength="6" maxlength="20" name="password" required>
    <input type="checkbox" name="remember" id="remember">
    <label id="remember">Remember Me</label>
    <input type="submit" value="Log In">
    <!--<a href='/reset_password'>Не помню пароль</a>-->
</form>