{% if error == True %}
    <form method="POST">
        <input type="email" name="email" placeholder="example@example.com" required>
        <input type="submit" value="Send">
    </form>

{% else %}

    {% if code == 'no_code' %}

        <p>Check your e-mail</p>
        <p>Enter code here:</p>
        <form method="POST">
            <input type="text" name="code" size='64' required>
            <input type="submit" value="Send">
        </form>
    
    {% endif %}

    {% if code == 'error' %}

        <p>Code incorrect</p>
        <a href={{ url_for('index') }}>Go back</a>

    {% endif %}

    {% if code == 'no_error'%}

        {% if confirm_password_error == True %}

            <p>Passwords did not match. Try again</p>

        {% endif %}

        <form method="POST">
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="password_confirm" placeholder="Confirm password" required>
            <input type="submit" value="Send">
        </form>

    {% endif %}

{% endif %}